<!DOCTYPE html>
<html>

<head>
  <title>AdminLTE 2 | Dashboard</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
</head>

<body class="hold-transition skin-blue sidebar-mini sidebar-collapse fixed">
  <div class="wrapper">

    ${require('../layouts/header.html')}
    ${require('../layouts/sidebar.html')}
    ${require('../layouts/content.html')}
    ${require('../layouts/footer.html')}

  </div>

  ${require('../layouts/include/script.html')}

</body>

</html>
